@{
  Layout = "_Layout";
}

@model RestBestaurants.Models.Restaurant

<h4>Add a new restaurant</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.LabelFor(model => model.Address)
    @Html.TextBoxFor(model => model.Address)

    @Html.LabelFor(model => model.Cuisine)
    @Html.DropDownList("CuisineId")

    <input type="submit" value="Add new retaurant" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all restaurants", "Index")</p>